<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/images/logo.svg" alt="" width="200" height="200">
        <h1 class="display-5 fw-bold">Преимущества сотрудничества с Зарайским хлебокомбинатом</h1>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/images/banner2@2x.dc24a742.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Высокое качество продукции</h1>
                <p class="lead">Поддерживаем традиции "живого" хлеба, соблюдая температурный режим каменной печи, с собственной молочно-кислой закваски. Ежегодно подтверждаем качество продуктов на выставка и конкурсах: "За высокое качество продукции" 2016-2020гг "Лучший хлеб России" 2016 "Лучший продукт Подмосковья" 2016 "За возрождение традиций российского хлеба на заквасках" "Инновации и традиции" 2018</p>
            </div>
        </div>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/images/banner4@2x.2f589477.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Широкий ассортимент</h1>
                <p class="lead">Ежедневно обеспечиваем поставку хлебобулочных изделий, кондитерскую продукцию и сыры</p>
            </div>
        </div>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/images/banner@2x.49cc1f84.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Собственная служба доставки</h1>
                <p class="lead">
                    Работаем по направлениям: Зарайский район, Луховицкий район, Коломенский район, Нет ограничений по минимальной партии заказа.
                </p>
            </div>
        </div>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/images/pattern-01.a75916cd.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Помощь в продвижении торговой точки</h1>
                <p class="lead">Предоставляем буклеты по новой продукции. Размещаем рекламу в сети Интернет, Instagram с укреплением позиции товарной продукции среди населения.</p>
            </div>
        </div>
    </div>
</div>

